.container {
  padding-top: 25px
}

.message {
  text-align: center;
}

hr.border { 
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(58, 175, 169, 0), rgba(58, 175, 169, 1), rgba(58, 175, 169, 0));
}

