.container {
  padding-top: 25px;
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;	
}

.column {
    padding: 1em;
    margin: auto;
}

hr.border{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(58, 175, 169, 0), rgba(58, 175, 169, 1), rgba(58, 175, 169, 0));
}

.card-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 5px;
  text-align: center;
}

.card-content {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  line-height: 1.5rem;
}

img {
  justify-content: center;
  height: 200px;
  width: 300px;
}