@import "~bulma/sass/utilities/initial-variables"

$gunmetal: #17252A
$gunmetal-dark: #0E171A
$gunmetal-light: #243A42
$keppel: #3AAFA9
$keppel-dark: #2E8A85
$keppel-light: #57C7C1
$azure-white: #DEF2F1
$azure-white-dark: #d0eceb
$azure-white-light: #f0f9f9

$family-sans-serif: 'Raleway', sans-serif
$body-background-color: $azure-white
$link: $keppel-dark
$link-hover: $keppel

$button-hover-color: $gunmetal
$button-hover-border-color: $keppel
$button-color: $gunmetal
$button-background-color: $azure-white-light
$button-border-color: $gunmetal
$button-focus-color: $keppel-light
$button-focus-border-color: $keppel
$button-active-color: $keppel-dark
$button-active-border-color: $keppel-dark
$button-text-color: $gunmetal
$button-text-hover-background-color: $azure-white

$navbar-item-color: $gunmetal
$navbar-divider-background-color: $keppel
$navbar-background-color: $azure-white-light
$navbar-dropdown-background-color: $azure-white-light
$navbar-dropdown-arrow: $gunmetal
$navbar-item-hover-color: $keppel-light
$navbar-item-active-color: $keppel-dark
$navbar-bottom-box-shadow-size: 5px 3px 3px 1px rgba(208,236,235,1)
$navbar-height: 4rem

$content-blockquote-background-color: $azure-white-light
$content-blockquote-border-left: 5px solid $keppel
$content-blockquote-padding: 1.25em 1.5em

$card-background-color: $azure-white-light
$card-shadow: 5px 3px 3px 1px rgba(208,236,235,1)
$card-header-shadow: none
$card-footer-border-top: 1px solid $keppel-light

$title-color: $gunmetal-dark !default
$title-weight: 600
$title-line-height: 1.25 !default
$subtitle-color: $gunmetal-light
$subtitle-weight: $weight-light
$subtitle-line-height: 1.5 !default
$weight-light: 100

body
  overflow-x: hidden

.header
  color: $gunmetal
  background-color: $azure-white-light
  border-bottom: $keppel-light solid 1px
  h1
    font-size: 64px
    letter-spacing: 8px
    font-weight: 600
    margin: 0px
  h3
    font-size: 24px
    letter-spacing: 7px
    font-weight: 400
    font-style: italic
    padding-top: 50px

a
  text-decoration: underline $keppel-light

form
button
p
  font-family: 'Open Sans'

nav
  font-size: 18px
  border-top: 5px solid $keppel-light
  .navbar-brand
    letter-spacing: 5px
  .nav-icon
    color: $keppel-light
    background-color: $gunmetal-light
    margin: 10px
    font-size: 18px
  .nav-image
    margin: 10px

form
  background-color: $azure-white-light
  padding: 20px
  border-radius: 10px
  box-shadow: 5px 3px 3px 1px rgba(208,236,235,1)

#email-capture
  box-shadow: none

.page-introduction
    color: $gunmetal-dark
    font-size: 1.2em
    line-height: 1.3em
    max-height: 250px

.introduction-image
  padding: 0px
  transform: translate(-50%, -75%)
  display: block
  height: 250px
  position: relative
  top: 50%
  left: 50%
  opacity: 0.05

.hero
  background-color: $azure-white-light
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23d0eceb' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E")

.content
  margin-bottom: 25px
.content-title
  font-weight: 200
  letter-spacing: 3px
  font-style: italic
.content-body
  font-weight: 200
  line-height: 1.5

.card
  margin: 0.75rem
  border-top: 2px solid $keppel-light
.card-list
  font-weight: 200
  font-style: italic
  font-size: 1em

.content-subscript
  font-size: 14px
  font-weight: 100
  font-style: oblique

.about-content-block
  top: 50%
  margin: auto

.about-block-quote
  color: rgba(43, 122, 120, 0.7)
  border-left: 2px solid $keppel-dark
  padding-left: 20px
  margin-left: -5px
  font-size: 1.25em
  font-style: italic

#call-to-action
  margin: 25px 0
  padding: 10px 0
  background-color: $azure-white-light
  width: 100%
  h3
    color: $gunmetal-light
    font-size: 20px

.contact-project
  font-size: 1.5em
  color: $keppel-dark
  margin-bottom: 0.8888em
  font-weight: 600

.social-contact
  margin: 50px

.email-contact
  margin: 50px
.email-title
  padding: 15px
  font-size: 1.75em

.contact-button
  margin: 10px

.blog-card-title
  padding: 10px
  color: $keppel
  font-size: 24px
  
.blog-meta
  margin: 10px
  text-decoration: underline
  font-weight: 200
  font-style: italic

.blog-title
  margin: 10px 0

.blog-sub-text
  color: $keppel
  font-weight: 200
  font-style: italic
  font-size: 1em

.mainPostStyle
  margin-top: 2.5em
  color: $gunmetal-dark
  line-height: 1.3em
  blockquote
    color: rgba(43, 122, 120, 0.5)
    border-left: 2px solid $keppel-dark
    padding-left: 20px
    margin-left: 0
    font-size: 1.25em
    font-style: italic
    font-weight: 200
  h1
  h2  
  h3
  p 
    color: $gunmetal-light
    margin: 8px 0
  h1
    font-size: 24px
  h2
    font-size: 20px
  h3
    font-size: 18px
  a
    color: $keppel
  hr
    border: 0
    height: 1px
    background-image: linear-gradient(to right, rgba(58, 175, 169, 0), rgba(58, 175, 169, 1), rgba(58, 175, 169, 0))	

.portrait
  height: 540px
  width: 400px
  display: block
  margin-left: auto
  margin-right: auto

.center-image
  display: block
  margin-left: auto
  margin-right: auto

.logo
  max-height: 360px
  max-width: 360px

.footer-icon 
  color: $keppel-light
  background-color: $gunmetal-light
  margin: 25px
  font-size: 24px

.contact-icon
  margin: 10px

hr.border
  border: 0
  height: 1px
  background-image: linear-gradient(to right, rgba(58, 175, 169, 0), rgba(58, 175, 169, 1), rgba(58, 175, 169, 0))	

button:hover
button[type='submit']:hover,
input[type='submit']:hover,
textarea:focus,
input:focus 
  background-color: rgba(58, 175, 169, 0.15)
  outline: none
  transition: all 0.50s ease-in-out
  -webkit-transition: all 0.50s ease-in-out
  -moz-transition: all 0.50s ease-in-out
  -ms-transition: all 0.50s ease-in-out
  -o-transition: all 0.50s ease-in-out

input[type='submit']
  width: 100%
  font-size: 18px
  font-weight: 200
  font-style: italic

@import "~bulma"