@import "~bulma/sass/utilities/initial-variables"

$gunmetal: #17252A
$myrtle: #2B7A78
$keppel: #3AAFA9
$azure-white: #DEF2F1
$off-white: #FEFFFF

$family-sans-serif: 'Raleway', sans-serif
$body-background-color: #DEF2F1

$navbar-item-color: $gunmetal
$navbar-divider-background-color: $keppel
$navbar-background-color: $off-white
$navbar-dropdown-background-color: $off-white
$navbar-dropdown-arrow: $gunmetal
$navbar-item-hover-color: $keppel !default
$navbar-item-active-color: $keppel !default

.header
  color: $gunmetal
  background-color: $off-white
  border-bottom: $keppel solid 1px
  h1
    font-size: 64px
    letter-spacing: 8px
    font-weight: 600
    margin: 0px
  h3
    font-size: 20px
    letter-spacing: 7px
    font-weight: 200
    font-style: italic
    padding-top: 50px

nav
  font-size: 18px
  font-weight: 200
  .navbar-brand
    letter-spacing: 5px
  .nav-icon
    color: $keppel
    background-color: $gunmetal
    margin: 10px
    font-size: 18px
  .nav-image
    margin: 10px


.content
  margin-bottom: 25px

.content-title
  font-weight: 200
  letter-spacing: 5px
  font-style: italic

.content-body
  font-weight: 200
  line-height: 1.5

.card-list
  font-weight: 200
  font-style: italic
  font-size: 0.75rem

.footer-icon 
  color: $keppel
  background-color: $gunmetal
  margin: 25px
  font-size: 24px

hr.border
  border: 0;	
  height: 1px;	
  background-image: linear-gradient(to right, rgba(58, 175, 169, 0), rgba(58, 175, 169, 1), rgba(58, 175, 169, 0));	

input[type='submit']:hover,
textarea:focus,
input:focus 
  background-color: rgba(58, 175, 169, 0.15)
  outline: none
  transition: all 0.50s ease-in-out
  -webkit-transition: all 0.50s ease-in-out
  -moz-transition: all 0.50s ease-in-out
  -ms-transition: all 0.50s ease-in-out
  -o-transition: all 0.50s ease-in-out

input[type='submit']
  width: 100%
  font-size: 18px
  font-weight: 200
  font-style: italic




@import "~bulma"