.hero {
  background-color: #FEFFFF;
}

.nav-links {
  justify-content: center;
  text-align: center;
  letter-spacing: 10px;
  padding-top: 10px;
  Font-Family: 'Raleway', sans-serif;
  font-weight: 200;
  font-style: italic;
  text-decoration: none;
}

.hero-title {
  text-align: center;
  font-size: 75px;
  Font-Family: 'Raleway', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.hero-sub {
  text-align: center;
  padding-bottom: 25px;
  padding-top: 50px;
  letter-spacing: 10px;
  Font-Family: 'Raleway', sans-serif;
  font-weight: 200;
  font-style: italic;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}